<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Duelist</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.name %></td>
        <td><%= card.user.username %></td>
        <td><%= card.duelist.name %></td>
        <td><%= link_to 'Show', card, :class => "btn btn-info btn-sm" %></td>

        <% if current_user == card.user %>
        <td><%= link_to 'Edit', edit_card_path(card), :class => "btn btn-secondary btn-sm" %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path, :class => "btn btn-success btn-sm" %>
