<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Atk:</strong>
  <%= @card.atk %>
</p>

<p>
  <strong>Def:</strong>
  <%= @card.def %>
</p>

<p>
<img src="<%= @card.image %>" class="card-display">
</p>
<br>
<p>
  <strong>By User:</strong>
  <%= @card.user.username %>
</p>

<p>
  <strong>Duelist:</strong>
  <%= @card.duelist.name %>
  <%= link_to 'Show', @card.duelist, :class => "btn btn-info btn-sm" %>
</p>
<div class="show-action">
<% if current_user == @card.user %>
<%= link_to 'Edit', edit_card_path(@card), :class => "btn btn-secondary btn-sm" %>
<% end %>
<%= link_to 'Back', cards_path, :class => "btn btn-secondary btn-sm" %>
</div>

<%= render 'comments/comments' %>

<h3> Add Comment </h3>

<!-- <div class="form_field_div"> -->
<%= form_for([@card, @card.comments.build]) do |form| %>

<div class="field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="field">
  <%= form.label :body %>
  <%= form.text_area :body %>
</div>

<div class="field">
  <%= form.hidden_field :user_id, :value => current_user.id %>
</div>

<div class="field">
  <%= form.hidden_field :card_id, :value => @card.id %>
</div>

<div class="actions">
  <%= form.submit({:class => 'btn btn-success btn-sm'}) %>

</div>
<% end %>

<p><span data-tooltip aria-haspopup="true" class="has-tip" id="has-tip" title="Yes!">Should I post a comment?</span></p>
<script type="text/javascript">
  if (typeof thumbs == "undefined") {
  const thumbs = document.getElementById("thumbs_Up");
  const unhideSomething = (SOMETHING) => SOMETHING.style.visibility="visible";
  const hideSomething = (SOMETHING) => SOMETHING.style.visibility="hidden";
  const hideThumbs = () => hideSomething(thumbs);
  const hideThumbsTimer = (TIMEOUT) => setTimeout(hideThumbs, TIMEOUT);
  const thumbsUp = () => {
    unhideSomething(thumbs);
    thumbs.src="https://media1.tenor.com/images/9e44ac46aa2e28be154810be63f661a7/tenor.gif?itemid=7815642";
    hideThumbsTimer(1200);
  }
  //
  const clickHelp = document.getElementById("has-tip")
  clickHelp.addEventListener("click", thumbsUp);
  }
</script>
<!-- </div> -->
